.container-border{
  margin-left: 25%;
  margin-top:50px;
  width: 50%;
  align-items: center;
  justify-content: center;  
}
.form-group{
  width: 100%;
  margin-bottom: 1rem;
  
}
label{
  font-size: 1.2rem;
  display: flex;
}

.input_admin,
.textadmin{
  width: 100%;
  font-size:  1.1rem;
  padding: 1.2rem;
  color:#0f0f0f;
  background-color: var(--deep-dark);
  outline:none;
  /*border: none;*/
  border-radius: 8px;
  margin-top: 1rem;
}

textarea{
min-height: 250px;
resize: both;
}

.admin_button{
  margin-left: auto;
  margin-top: 10px;
  background-color: var(--deep-dark);
  color: var(--bloack);
  font-size: 1.22rem;
  display: inline-block;
  outline: none;
  /*border: none ;*/
  padding: 0.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;

}